[package]
name = "safelens-desktop"
version = "0.2.0"
edition = "2021"

[build-dependencies]
tauri-build = { version = "1.5" }

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tauri = { version = "1.5", features = ["dialog-all", "fs-all", "path-all", "shell-open"] }

[features]
custom-protocol = ["tauri/custom-protocol"]
