[package]
name = "safelens-desktop"
version = "0.2.0"
edition = "2021"

[build-dependencies]
tauri-build = { version = "1.5", features = [] }

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tauri = { version = "1.5", features = [ "window-minimize", "window-maximize", "window-unmaximize", "window-start-dragging", "window-close", "fs-write-file", "fs-remove-file", "fs-create-dir", "fs-exists", "fs-read-file", "dialog-all", "path-all", "macos-private-api"] }
window-vibrancy = "0.4"

[features]
custom-protocol = ["tauri/custom-protocol"]
