[package]
name = "safelens-desktop"
version = "0.2.0"
edition = "2021"

[build-dependencies]
tauri-build = { version = "1.5", features = [] }

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tauri = { version = "1.5", features = [ "fs-write-file", "fs-remove-file", "fs-create-dir", "fs-exists", "fs-read-file", "dialog-all", "path-all", "macos-private-api"] }

[features]
custom-protocol = ["tauri/custom-protocol"]
